html {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-style: normal;
  color: #0B0C0C;
  font-size: 1rem;
  line-height: 1.6;
  line-height: 1.31579;
  -webkit-font-smoothing: antialiased;
  font-size: calc(112.5% + 0.3vw);
  padding-bottom:4em;
}

* {
  margin: 0;
}

* + * {
  margin-top: 0.5em;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

body > header {
    margin:0 auto;
    max-width:80%;
}

body > nav {
    margin:0 auto;
    max-width:80%;
}

body > nav ul {
    margin:0;
    padding:0;
}

body > nav ul li {
    list-style-type:none;
    display:inline-block;
    margin:0 1em;
}

body > nav ul li:first-child {
    margin-left:0;
}

body > header img {
    max-width:100%;
    padding-top:0.5em;
    box-sizing: border-box;
}

body > main > section {
    margin:0 auto;
    max-width:80%;
}


body > main > section + section {
    margin-top:2em;
}

.regulation_table tr {
    vertical-align:top;
}
.regulation_table  td {
    padding-bottom:1em;
}

section.regulation_meta {
    background-color:#EEE;
    padding:1em;
    box-sizing: border-box;
    margin-bottom:2em;
}

dl {
    font-size:0.8em;
}
dt {
    font-weight:bold;
}
dd {
    margin-left:1em;
    font-style:italic;
}

a {
    color: #EC008C;
    text-decoration:none;
}

h4 a {
    color:#000;
}

.card {
    background-color:red;
  clear:both;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);


  padding: 20px;
  background: #FFF;
}

.card + .card {
    // Two cards next to each other get spaced out
    margin-top: 40px;
}

.card > h1, h2, h3 {
  margin-top:0;
}

.card_header {
  font-size:2em;
}
