{% extends "base.html" %}

{% block content %}

<section>
    <h2>About this project</h2>
    <p>This project is designed to help people who want to make tools and reports
        about the EU legislation that will no longer apply to the UK after Brexit</p>



    <h3>The data</h3>
    <p>This site contains the EU regulations, as extracted from
    <a href="http://publications.europa.eu">http://publications.europa.eu</a></p>
    <p>Each regulation contains</p>
    <ul>
        <li>The title</p>
        <li>Identifiers (URI, 'CELEX' number)</p>
        <li>A year</p>
        <li>Subjects</p>
        <li>Keywords</p>
        <li>The regulation as HTML and plain text</p>
        <li>Meta data as published by publications.europa.eu</p>
    </ul>

    <h3>Reuse</h3>
    <p>You are encouraged to use this API in your own projects.</p>
    <p>If your project adds to the data in some way (by adding metadata or
         grouping regulations for example) then you are strongly encouraged to
         a)tell us about it and b) allow us to fold your dataset back in to
         this one (we'll add it to the API).</p>
    <p>This in turn will help others to build on all the datasets linked to the regulations.</p>

    <h3>The API</h3>
    <p>Firstly, this is a new project and the API isn't going to be very stable.</p>
    <p>If you want to use it, please go ahead, but also
        <a href="https://democracyclub.org.uk/contact/">get in touch</a> and we'll
        add you to our Slack where you can chat about ideas etc.</p>
    <p><strong>The API lives at <a href="{% url "api-root"%}">{% url "api-root"%}</a>.</strong></p>
    <p>It currently has two endpoints:</p>
    <ul>
        <li><code>/regulation/</code></li>
        <li><code>/subjects/</code></li>
    </ul>

    <h4><code>/regulation/</code></h4>
    <p>Lists each regulation with the publications.europa.eu UUID as the primary key.</p>
    <p>You can filter by <code>celex_number</code>, <code>number</code>,
        <code>year</code> and <code>keyword</code> using GET parameters, e.g.</p>
    <p><code>/regulation/?year=2003&amp;keyword=wine</code></p>

    <h4><code>/regulation/[UUID]/</code></h4>
    <p>A single regulation, with ID and meta data, but no text</p>

    <h4><code>/regulation/[UUID]/[html|text]</code></h4>
    <p>The HTML or plain text of the regulation. Not that the text version is derived from the HTML.</p>



</section>

{% endblock content %}
